@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Guveen

File:			app.css
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2019

************************************************************************************************************************ */

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #5d5d5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #2a6b72;
}

a:hover {
	color: #2a6b72;
}

.row {
	max-width: 1200px;
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: #032e45;
}

/* Banner */

.banner {
	background-color: #032e45;
}

.banner .logo_wrap {
	min-height: 280px;
	background-color: #fff;
}

.banner .logo_wrap .part_1 {
	padding: 10px 0;
}

.banner .logo_wrap .part_2 {
	padding: 52px 0;
}

/* Content */

.content {
	border-top: 10px solid #d5ad7e;
}

.content .title_1,
.content .title_2 {
	padding: 22px 0;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 3px;
}

.content .title_1 {
	background-image: url(../images/title_1_bg.png);
}

.content .title_2 {
	margin-top: 10px;
	background-image: url(../images/title_2_bg.png);
}

.content .text {
	padding: 60px 0;
}

/* Block 1 */

.block_1 {
	border-top: 10px solid #032e45;
}

.block_1 .title_1 {
	max-width: 464px;
	padding: 10px 0;
	background-image: url(../images/title_2_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 3px;
	text-align: center;
}

.block_1 .text {
	padding: 60px 0;
}

.block_1 .text p {
	font-size: 18px;
	letter-spacing: 3px;
}

.block_1 .text a {
	color: #5d5d5d;
}

/* Block 2 */

.block_2 {
	background-color: #d5ad7e;
}

.block_2 .part_1 {
	padding: 15px 0;
	font-size: 20px;
	color: #fff;
	letter-spacing: 3px;
}

.block_2 .part_1 span {
	color: #032e45;
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background-color: #032e45;
}
.block_3 .part_1 ul {
	list-style: none;
}

.block_3 .part_1 a {
	color: #d5ad7e;
}

.block_3 .part_2 a {
	margin: 0 5px;
	display: inline-block;
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: #032e45;
	font-size: 15px;
	color: #fff;
}

.bottom a {
	color: #fff;
}

.bottom .item {
	font-size: 20px;
	color: #d5ad7e;
}

/* Pop Up */

.fancybox-bg {
	background: #032e45;
}

.pop_up {
	max-width: 800px;
	margin: auto;
}

.pop_up .part_1 {
	font-size: 30px;
	letter-spacing: 3px;
}

.pop_up .part_2 {
	padding: 15px;
	border: 1px solid #5d5d5d;
}

.pop_up .part_2 .box_1,
.pop_up .part_2 .box_2 {
	min-height: 130px;
	padding: 15px;
	border: 1px solid #5d5d5d;
}

.pop_up .part_2 .box_1 {
	margin-bottom: 15px;
}

.pop_up .part_2 .box_2 {
	margin-bottom: 15px;
}

.pop_up .part_2 .box_3 {
	margin-bottom: 15px;
}

.pop_up .part_2 .box_4 .button {
	margin-bottom: 0;
	background-color: #032e45;
	border-radius: 0;
}

.pop_up .part_3 {
	padding: 15px;
}

.pop_up .part_3 p {
	margin-bottom: 0;
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Banner */

	.banner .logo_wrap {
		min-height: inherit;
	}

	.banner .logo_wrap .part_2 {
		padding: 0 0 20px 0;
	}

	.banner .logo_wrap .part_2 img {
		max-height: 100px;
	}

	/* Content */

	.content .text {
		padding: 30px 0;
	}

	/* Block 1 */

	.block_1 .text {
		padding: 30px 0;
	}

	/* Pop Up */

	.fancybox-content {
		padding: 10px;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}